# 1. Виртуальное окружение (стандартная папка)
venv/

# 2. Папки окружения, которые у вас лежат в корне (их НЕ надо грузить)
Lib/
Scripts/
Include/
pyvenv.cfg

# 3. Мусор, который генерирует Python (байт-код)
__pycashe__/
*.pyc

# 4. Настройки редактора (VS Code), если они есть скрытые
.vscode/
.idea/